{ "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/no-multi-comp": 0,
    "react/jsx-boolean-value": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "max-len": [2, 250, 2, {"ignoreUrls": true}],
    "object-shorthand": [2, "methods"],
    "no-alert": 0,
    "no-param-reassign": [2, {"props": false}],
    "arrow-body-style": 0,
    "no-useless-constructor": 0,
    "prefer-template": 0,
    "consistent-return": 0,
    "no-case-declarations": 0,
    "no-return-assign": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/no-named-as-default": 0,
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVTOOLS__": true,
  }
}
